img{
    display: flex;
    width: 35%;
    height: 45vh;
    margin: auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid rgb(71, 24, 71);
    border-bottom: 1px solid rgb(83, 24, 83);
    font-family: 'Cinzel', serif;
    font-size: 1em;
}

nav:hover{
    text-decoration: underline;
    position: relative;
    bottom: 1em;
}

nav:active{
    color: rgb(231, 56, 56);
}

nav:visited{
    color: rgb(49, 163, 49);
}
h2{
    text-align: center;
    color: black;
    width: 100%;
    margin: 20px;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 4em;
}

body{
    background-image: url(images/ciel.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    display: flex;
    flex-direction: row;
    color: black;
    position: relative;
    bottom: 0;
    left: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title{
    color: violet;
    text-decoration: underline;
    text-align: center;
    font-size: 3em;
    font-family: 'Cinzel', serif;
}

.box{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 6px 6px black;
    width: 40%;
    margin: 50px;
    padding: 20px;
    text-align: justify;
}

.box:hover{
    position: relative;
    bottom: 1em;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.adress{
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 6px 6px 6px black;
    width: 70%;
    margin: 60px;
    padding: 20px;
    text-align: center;
}

.block{
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 6px 6px 6px black;
    width: 90%;
    margin: auto;
}

p{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2em;
}

.foot{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.conventionnal{
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 280px) and (max-width: 960px){
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    img{
        display: flex;
        width: 75%;
        height: 50vh;
    }

    .box{
        width: 90%;
    }

}

@media screen and (min-width: 960px) and (max-width: 1380px){
    .box{
        width: 90%;}

     nav{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
     }    
}
